body {
    background-image: url("red light.jpg");
    background-size:cover;
}

.info{
 color:white;
 text-align:center;
}

h1{
    color:#B22222;
    font-family: 'Righteous', cursive;
}

h3{
    color:#B22222;
}