body{
    background-image: url("red light.jpg");
    background-size:cover;
}


.info{
 color:#A80000 ;
 text-align:center;
 font-family: 'Nunito', sans-serif;
 margin-left:60px;
 margin-right:60px;
}
.heading{
    text-align: center;
     color:#C80000 ;
      font-family: 'Righteous', cursive;
}

